.time {
    position: relative;
    text-align: center;
    padding: 32px;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding: 8px;
}

.jogadores {
    display: flex;
    justify-content: space-around;
    margin: 32px;
    flex-wrap: wrap;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 50px;
}